
@font-face {
    font-family: BasisGrotesqueRegular;
    src: url(../../../../../public/fonts/BasisGrotesqueArabicPro-Regular.ttf);
}

@font-face {
    font-family: Sentient;
    src: url(../../../../../public/fonts/Sentient-Regular.otf);
}

@font-face {
    font-family: Lato;
    src: url(../../../../../public/fonts/Lato-Regular.ttf);
}

.containerPai{
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #FFFDF3;
    padding: 6vw;
    margin-left: 6%;
}

.titulo{
    font-family: BasisGrotesqueRegular;
    max-width: 30%;
    text-align: left;
}

.texto{
    font-family: Sentient;
    text-align:left;
    line-height: 1.6;
}

.containerPaiBlack{
    display: flex;
    align-items: center;
    background-color: #151525;
    padding-top: 10%;
    padding-bottom: 10%;
}

.containerBlack{
    display: flex;
    flex-direction: column;
    background-color: #151525;
    padding: 6vw;
    margin-left: 6%;
}

.tituloBlack{
    font-family: BasisGrotesqueRegular;
    max-width: 30%;
    text-align: left;
    color:  #FFFDF3;
}

.textoBlack{
    font-family: Sentient;
    text-align:left;
    line-height: 1.6;
    color:  #FFFDF3;
}

.imagens{
    max-width: 50%;
    height: fit-content;
    animation-name: slideImagem;
    animation-duration: 6s;
}

@keyframes slideImagem{
    from{opacity: 0;}
    to{opacity: 100%;}
}


@media only screen and (max-width:800px) {
    .containerPai{
        flex-direction: column;
    }

    .containerPaiBlack{
        flex-direction: column;
    }
    
    .container{
        flex-direction: column;
        max-width: 80%;
    }

    .containerBlack{
        flex-direction: column;
        max-width: 80%;
    }
    
    .texto{
        line-height: 1.5;   
    }

    .textoBlack{
        line-height: 1.5;
    }

    .imagens{
        max-width: 100%;
        height: fit-content;
    }
}