
@font-face {
    font-family: BasisGrotesqueRegular;
    src: url(../../../../../public/fonts/BasisGrotesqueArabicPro-Regular.ttf);
}

@font-face {
    font-family: Sentient;
    src: url(../../../../../public/fonts/Sentient-Regular.otf);
}

@font-face {
    font-family: Lato;
    src: url(../../../../../public/fonts/Lato-Regular.ttf);
}

.containerPai{
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #FFFDF3;
    padding: 6vw;
    margin-left: 6%;
}

.titulo{
    font-family: BasisGrotesqueRegular;
    font-size: 100px;
    max-width: 30%;
    text-align: left;
}

.texto{
    font-family: Sentient;
    text-align:left;
    font-size: 20px;
    line-height: 1.6;
}

.imagens{
    max-width: 40%;
    height: fit-content;
    margin-right: 6%;
}
