
@font-face {
    font-family: basisGrotesqueRegular;
    src: url(../../../../public/fonts/BasisGrotesqueArabicPro-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(../../../../public/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: latoItalico;
    src: url(../../../../public/fonts/Lato-Italic.ttf);
}


@font-face {
    font-family: latoBold;
    src: url(../../../../public/fonts/Lato-Bold.ttf);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    padding: 2vw;
}

.titulo{
    font-size: 48px;
    font-family: basisGrotesqueRegular;
}

.subtitulo{
    font-size: 28px;
    font-family: latoItalico;
}

.data{
    font-family: latoItalico;
    font-size: 24px;
}

.texto{
    font-family: lato;
    font-size: 20px;
    line-height: 1.6;
    margin-top: 1vh;
    margin-bottom: 1vw;
}

.referencias{
    font-family: latoItalico;
    font-size: 14px;
}