.header{
    position: sticky;
    top: 0;
    opacity: 1;
    z-index: 1;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F3C300;
    -webkit-box-shadow: 0px 5px 5px 1px #151525; 
    box-shadow: 0px 1px 2px 0px #151525;    
}

.container{
    display: flex;
    align-items: flex-end;
}


.logo{
    width: 3vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.conecto{
    margin-left: 1vw;
    margin-bottom: 0.3vh;
    width: 10vw;
}

@font-face {
    font-family: BasisGrotesqueSemiBold;
    src: url(../../../public/fonts/BasisGrotesqueArabicPro-Medium.ttf);
}

@font-face {
    font-family: BasisGrotesqueRegular;
    src: url(../../../public/fonts/BasisGrotesqueArabicPro-Regular.ttf);
}

.navMenu{
    display: flex;
    list-style:none;
    align-items: center;
}

.itemMenu a{
    color: #151525;
    font-family: BasisGrotesqueRegular;
    font-size: 30px;
    margin-left: 2vw;
    opacity: .5;
}

.itemMenuAtivo a{
    color: #151525;
    text-decoration: underline;
    text-underline-offset: 0.3vw;
    font-family: BasisGrotesqueRegular;
    font-size: 30px;
    margin-left: 2vw;
    opacity: 1;
}

.itemMenu :hover{
    opacity: 1;
}

.containerBotaoFonte{
    display: flex;
    margin-left: 4vw;
    align-items: center;
}

.botaoFonte{
    max-width: 1.4vw;
    margin-left: 1vw;
}

.botaoDarkMode{
    max-width: 1.4vw;
    margin-left: 0.8vw;
}

.botaoDarkMode :hover{
    cursor: pointer;
}

.botaoMudar :hover{
    cursor: pointer;
}

@media only screen and (max-width:800px) {
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navMenu{
        padding: 2%;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .itemMenu a{
        font-size: 22px;
        margin-left: 5px;
        opacity: .5;
    }
    
    .itemMenuAtivo a{
        color: #151525;
        text-decoration: underline;
        text-underline-offset: 0.3vw;
        font-family: BasisGrotesqueRegular;
        font-size: 22px;
        margin-left: 2vw;
        opacity: 1;
    }

    .logo{
        width: 2vh;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .conecto{
        margin-left: 1vw;
        margin-bottom: .9vw;
        width: 10vh;
    }

    .botaoFonte{
        display: none;
    }

    .botaoDarkMode{
        display: none;
    }
}
@media only screen and (max-width:400px){
    .itemMenu a{
        font-size: 18px;
        margin-left: 5px;
        opacity: .5;
    }
    
    .itemMenuAtivo a{
        color: #151525;
        text-decoration: underline;
        text-underline-offset: 0.3vw;
        font-family: BasisGrotesqueRegular;
        font-size: 18px;
        margin-left: 2vw;
        opacity: 1;
    }
}
