@font-face {
    font-family: basisGrotesqueSemiBold;
    src: url(../../../public/fonts/BasisGrotesqueArabicPro-Medium.ttf);
}

@font-face {
    font-family: lato;
    src: url(../../../public/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: basisGrotesqueRegular;
    src: url(../../../public/fonts/BasisGrotesqueArabicPro-Regular.ttf);
}

@font-face {
    font-family: latoItalico;
    src: url(../../../public/fonts/Lato-Italic.ttf);
}


@font-face {
    font-family: latoBold;
    src: url(../../../public/fonts/Lato-Bold.ttf);
}


.containerHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFDF3;
}

.containerPosts{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFDF3;
}

.containerPostsBlack{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #151525;
}

.containerPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;
    background-color: #FFFDF3;
}

.containerPostBlack{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;
    background-color: #151525;
}

.containerDocumentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFDF3;
}

.titulo2{
    font-family: basisGrotesqueSemiBold;
    margin-top: 10vh;
    color: #151525;
}

.descricao{
    font-family: lato;
    max-width: 40%;
    margin-top: 3vh;
    color: #151525;
}

.tituloBlack2{
    font-family: basisGrotesqueSemiBold;
    margin-top: 10vh;
    color: #FFFDF3;
}

.descricaoBlack{
    font-family: lato;
    max-width: 40%;
    margin-top: 3vh;
    color: #FFFDF3;
}

.img{
    width: 40%;
    height: fit-content;
}

.containerTexto{
    max-width: 40%;
}

.titulo{
    font-family: basisGrotesqueRegular;
    color: #151525;
}

.tituloBlack{
    font-family: basisGrotesqueRegular;
    color: #FFFDF3;
}

.subtitulo{
    font-family: lato;
    color: #151525;
}

.subtituloBlack{
    font-family: lato;
    color: #FFFDF3;
}

.data{
    font-family: latoItalico;
    color: #151525;
}

.dataBlack{
    font-family: latoItalico;
    color: #FFFDF3;
}

.texto{
    font-family: lato;
    margin-top: 1vh;
    margin-bottom: 1vw;
    color: #151525;
}

.textoBlack{
    font-family: lato;
    margin-top: 1vh;
    margin-bottom: 1vw;
    color: #FFFDF3;
}

@media only screen and (max-width:800px) {
    .img{
        width: 100%;
        height: fit-content;
    }
    
    .containerTexto{
        max-width: 80%;
    }

    .data{
        margin-top: 1%;
    }
}
