@font-face {
    font-family: BasisGrotesqueSemiBold;
    src: url(../../../public/fonts/BasisGrotesqueArabicPro-Medium.ttf);
}

@font-face {
    font-family: BasisGrotesqueRegular;
    src: url(../../../public/fonts/BasisGrotesqueArabicPro-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(../../../public/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: latoItalico;
    src: url(../../../public/fonts/Lato-Italic.ttf);
}


@font-face {
    font-family: latoBold;
    src: url(../../../public/fonts/Lato-Bold.ttf);
}

.containerPai{
    background-color: #151525;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.containerImagens{
    display: flex;
    max-width: 80%;

    padding: 5%;
}

.container{
    background-color: #151525;
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    max-width: 60%;
}

.logo{
    max-width: 240px;
    height: fit-content;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.infos{
    color:#FFFDF3;
    font-family: LatoBold;
    font-size: 12px;
}

.contato{
    color:  #FFFDF3;
    font-family: LatoItalico;   
    font-size: 14px;
}

.copyright{
    margin-top: 1.5vw;
    margin-bottom: 1.8vw;
    color:  #FFFDF3;
    font-family: Lato;   
    font-size: 14px; 
    line-height: 1.8;
}

@media only screen and (max-width:800px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7%;
    }
    
    .logoMis{
        width: 16vh;
        height: fit-content;
    }
    
    .logo{
        width: 10vh;
        height: fit-content;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .infos{
        color:  #FFFDF3;
        font-family: LatoBold;
        font-size: 12px;
    }
    
    .contato{
        color:  #FFFDF3;
        font-family: LatoItalico;   
        font-size: 12px;
    }
    
    .copyright{
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 10px;
        max-width: 60%;
        text-align: center;
    }
}