@font-face {
    font-family: basisGrotesqueSemiBold;
    src: url(../../../../public/fonts/BasisGrotesqueArabicPro-Medium.ttf);
}

@font-face {
    font-family: basisGrotesqueRegular;
    src: url(../../../../public/fonts/BasisGrotesqueArabicPro-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(../../../../public/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: latoItalico;
    src: url(../../../../public/fonts/Lato-Italic.ttf);
}


@font-face {
    font-family: latoBold;
    src: url(../../../../public/fonts/Lato-Bold.ttf);
}

.containerPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;
}

.img{
    width: 40%;
    height: fit-content;
}

.containerTexto{
    max-width: 40%;
}

.titulo{
    font-size: 48px;
    font-family: basisGrotesqueRegular;
}

.subtitulo{
    font-size: 28px;
    font-family: lato;
}

.data{
    font-size: 24px;
    font-family: latoItalico;
}

.texto{
    font-size: 20px;
    font-family: lato;
    margin-top: 1vh;
    margin-bottom: 1vw;
}

@media only screen and (max-width:800px) {
    .img{
        width: 100%;
        height: fit-content;
    }
    
    .containerTexto{
        max-width: 80%;
    }
    
    .titulo{
        font-size: 24px;
    }
    
    .subtitulo{
        font-size: 18px;
    }
    
    .data{
        margin-top: 1%;
        font-size: 14px;
    }
    
    .texto{
        font-size: 14px;
    }
}