@font-face {
    font-family: BasisGrotesqueSemiBold;
    src: url(../../../../public/fonts/BasisGrotesqueArabicPro-Medium.ttf);
}

.cursor{
    cursor: none;
    background-color: #151525;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.areaInterativa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3C300;
    width: 100%;
    height: 100vh;
}

.areaInteracao{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3C300;

}

.titulo{
    font-family: BasisGrotesqueSemiBold;
    color:#151525;
    font-size: 14vw;
    position:center;
}

.seta{
    position: relative;   
    top: -32vh;
    width: 100px;
    height: fit-content;
    transform: translateY(24vh);
    animation-name: bounceSeta;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounceSeta{
    from {transform:translateY(24vh)}
    to {transform: translateY(20vh);}
}

.setaP5{
    position: relative;
    top: -8vh;
    width: 100px;
    height: fit-content;
    display: flex;
    animation-name: bounceSetaP5;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.seta,.setaP5 :hover{
    cursor: pointer;
}

@keyframes bounceSetaP5{
    from {top: -6vh;}
    to{top: -10vh;}
}

.logoInterativa{
    font-family: BasisGrotesqueSemiBold;
    color:#151525;
    font-size: 6vw;
    position: absolute;
    transform:translateY(-2vh);
}

@media only screen  and (max-width:800px) {
    .seta{
        width: 80px;
        height: fit-content;
        transform: translateY(36vh);
    }

    .setaP5{
        width: 80px;
    }
}